- WulinMaster::GridState.create_default(current_user.id, grid.name)

:ruby
  options = grid_states_options(current_user.id, grid.name)
  default_options, custom_options = options.partition do |option|
    option[0] == 'default'
  end
  current_state = WulinMaster::GridState.current(current_user.id, grid.name)

.grid_states_switcher
  -# =label_tag "grid_states", "Custom Views:"
  -# =select_tag "grid_states", options_for_select(grid_states_options(current_user.id, grid.name))
  -# %a{:href => "javascript:void(0);", :class => "configure_icon_s manage"}
  -# %a{:href => "javascript:void(0);", :class => "reset_icon_s reset"}

  %a.current-view.dropdown-button.btn.grey.lighten-3{"data-activates" => "grid_states", "data-beloworigin" => "true", :href => "#"}
    = current_state.name
    %i.material-icons.right arrow_drop_down
  %ul#grid_states.dropdown-content
    - options.each do |option|
      %li
        %a.grid-state-view{"data-state-id" => option[1], :href => "#!"}= option[0]
    %li.divider
    %li
      %a{:href => "#create-view"}
        %i.material-icons.left add_box
        ADD VIEW

  / Modal Structure
  #create-view.modal
    .modal-content
      %h4 Create a new view
      .input-field.col.s6
        %input#last_name.validate{:type => "text"}
        %label{:for => "last_name"} View Name
    .modal-footer
      %a.modal-action.modal-close.btn{:href => "#!"} Create
      %a.modal-action.modal-close.btn-flat{:href => "#!"} Cancel

:javascript

  $(function(){

    $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    });
    $('.modal').modal();

    /*
    $("a.manage").click(function(){
      $.get('wulin_master/grid_states_manages/manage?' + "grid=#{grid.name}", function(data){
        $('body').append(data);
        var scope = $(".states_manage_form");

        scope.dialog({
          height: 250,
          width: 400,
          show: "blind",
          modal: true,
          close: function(event, ui) {
            scope.dialog('destroy');
            scope.remove();
          }
        });
      });
    });

    $('.grid_states_switcher a.reset').on('click', function(){
      if (confirm('Are you sure that you want to reset the default view?')) {
        $.post('#{wulin_master_grid_states_manages_reset_default_path}', {_method: 'PUT', grid_name: '#{grid.name}', user_id: '#{current_user.id}'}, function(data) {
          if (data == 'ok') {
            load_page(History.getState().url);
          } else {
            displayErrorMessage(data);
          }
        });
      }
    });
    */
  });
