:ruby
  WulinMaster::GridState.create_default(current_user.id, grid.name)
  states = grid_states_options(current_user.id, grid.name)
  default_states, custom_states = states.partition do |state|
    state[0] == 'default'
  end
  custom_states.sort_by! { |state| state[1] }
  current_state = WulinMaster::GridState.current(current_user.id, grid.name)

.grid_states_switcher
  %a#current-state.dropdown-button.btn.grey.lighten-3{"data-activates" => "grid_states", "data-beloworigin" => "true", href: "#"}
    %span= current_state.name
    %i.material-icons.right arrow_drop_down
    -# %i.material-icons.right.hide arrow_drop_up
  %ul#grid_states.dropdown-content
    - default_states.each do |option|
      %li
        %a.grid-state-item{id: "grid-state-#{option[1]}", "data-state-id" => option[1], href: '#!'}= option[0]
    %li.divider
    - custom_states.each do |option|
      %li
        %a.grid-state-item{id: "grid-state-#{option[1]}", "data-state-id" => option[1], href: '#!'}= option[0]
        %a.edit-icon-container.right.hide{"data-state-id" => option[1], "data-state-name" => option[0], href: '#edit-modal'}
          %i.material-icons.right mode_edit
    %li.divider
    %li
      %a{href: '#create-modal'}
        %i.material-icons.left add_box
        ADD VIEW

#create-modal.modal
  .modal-content
    %h5 Create a new view
    .input-field
      %input#view-name-input-create{type: 'text'}
      %label#view-name-label-create{for: 'view-name-input-create'} View Name
  .modal-footer
    #create-btn.btn.right.disabled Create
    .modal-close.btn-flat Cancel

#edit-modal.modal
  .modal-content
    %h5 Edit view
    .input-field
      %input#view-name-input-edit{type: 'text'}
      %label#view-name-label-edit{for: 'view-name-input-edit'} View Name
  .modal-footer
    #update-btn.btn.right.disabled Update
    #delete-btn.btn-flat.red-text.modal-close.right Delete
    .modal-close.btn-flat Cancel

:javascript

  $(function(){

    $('.dropdown-button').dropdown();
    $('.modal').modal();

    var id;
    var oldName;
    var newName;

    $("#current-state").click(function() {
      var $icon = $(this).children('.material-icons');
      var up = 'arrow_drop_up'
      var down = 'arrow_drop_down'
      $icon.html($icon.text() == up ? down : up);
    });

    $("#view-name-input-create").on('input', function() {
      $('#create-btn').toggleClass('disabled', !$(this).val());
    });

    $("#view-name-input-create").on('keydown', function(e) {
      if(e.keyCode == 13 && !$('#create-btn').hasClass('disabled')) {
        $('#create-btn').click();
      }
    });

    $('#create-btn').on('click', function() {
      var data = {
        grid_name: "#{grid.name}",
        state_name: $("#view-name-input-create").val()
      };

      $.post('/wulin_master/grid_states_manages/create', data, function(response){
        if (response == 'success') {
          $('#create-modal').modal('close');
          location.reload();
        }
      });
    });

    $('.edit-icon-container').on('click', function() {
      id = $(this).attr('data-state-id');
      oldName = $(this).attr('data-state-name');
      $('#view-name-label-edit').addClass('active');
      $('#view-name-input-edit').val(oldName);
    });

    $('#grid_states li').on({
      mouseenter: function () {
        $(this).children('.edit-icon-container').removeClass('hide');
      },
      mouseleave: function () {
        $(this).children('.edit-icon-container').addClass('hide');
      }
    });

    $("#view-name-input-edit").on('keydown', function(e) {
      if(e.keyCode == 13 && !$('#update-btn').hasClass('disabled')) {
        $('#update-btn').click();
      }
    });

    $("#view-name-input-edit").on('input', function() {
      newName = $('#view-name-input-edit').val();
      $('#update-btn').toggleClass('disabled', !newName || oldName == newName);
    });

    $('#update-btn').on('click', function() {
      var data = { id: id, name: newName }
      $.post('/wulin_master/grid_states_manages/update', data, function(response){
        if (response == 'success') {
          $('#view-name-input-edit').text(newName);
          $('#grid-state-' + id).text(newName);
          if ("#{current_state.id}" == id) {
            $('#current-state span').text(newName);
          }
          $('#edit-modal').modal('close');
        }
      });
    });

    $('#delete-btn').on('click', function() {
      var data = { id: id }
      $.post('/wulin_master/grid_states_manages/destroy', data, function(response){
        if (response == 'success') {
          $('#edit-modal').modal('close');
          location.reload();
        }
      });
    });

  });
