!!!
%html
  %head
    %title Terra Nova
    = javascript_include_tag 'jquery'
    = stylesheet_link_tag    *WulinMaster.stylesheets
    = javascript_include_tag *WulinMaster.javascripts

    = csrf_meta_tags
  %body
    = yield
