<% current_user = (controller.respond_to?(:current_user) ? controller.current_user : nil) -%>
<div id='grid_<%= grid.name %>' class='grid_container' style='<%= grid.style %>'>
  <%- unless grid.hide_header? %>
    <div class='grid-header'>
      <%= grid.toolbar.render %>
      <h2><%= grid.title %></h2>
    </div>
  <% end -%>
  <div class='grid'></div>
  <div class='pager'></div>
  <script type='text/javascript'>
    gridManager.createNewGrid('<%= grid.name.to_s.html_safe %>',
                              '<%= grid.path.to_s.html_safe + ".json?" + request.query_parameters.to_query %>',
                              <%= grid.javascript_column_model.html_safe %>,
                              <%= grid.states_for_user(current_user).html_safe %>,
                              <%= grid.get_actions.to_s.html_safe -%>);
  </script>
</div>

<%- if grid.get_actions.include?('add') %>
<!-- Create form -->
<%= render '/grid_form', :grid => grid %>
<% end -%>


