.grid_container{:id => "grid_#{grid.name}", :name => "#{grid.name}",:style => grid.style}
  - unless grid.hide_header?
    :ruby
      user_id = (respond_to?(:current_user) && current_user) ? current_user.id : -1
    .grid-header
      %h2= grid.title
      - grid.header_actions.each do |a|
        = render "/action_partials/#{a[:name]}", grid: grid #rescue nil
      = render './toolbar', toolbar_items: grid.toolbar_items
  .grid
  .pager

:javascript
  // create grid
  gridManager.createNewGrid('#{grid.name.to_s.html_safe}',
                            '#{grid.model.to_s.html_safe}',
                            '#{grid.params["screen"].to_s.html_safe}',
                            '#{grid.path_for_json.to_s.html_safe}',
                             #{grid.params["filters"].to_json.html_safe},
                             #{grid.javascript_column_model.html_safe},
                             #{grid.states_for_user.html_safe},
                             #{grid.action_configs.to_json.html_safe},
                             #{grid.behavior_configs.to_json.html_safe},
                             #{grid.options.to_json.html_safe},
                             #{user_id});
  $('.tooltipped').tooltip();
