- current_user = (controller.respond_to?(:current_user) ? controller.current_user : nil)
.grid_container{:id => "grid_#{grid.name}", :style => grid.style}
  - unless grid.hide_header?
    .grid-header
      %h2= grid.title
      - grid.header_actions.each do |a|
        = render "action_partials/#{a[:name]}" rescue nil
      = grid.toolbar.render
  .grid
  .pager

  :javascript
    gridManager.createNewGrid('#{grid.name.to_s.html_safe}',
                              '#{grid.params["screen"].to_s.html_safe}',
                              '#{grid.path_for_json(request.query_parameters).to_s.html_safe}',
                               #{grid.javascript_column_model.html_safe},
                               #{grid.states_for_user(current_user).html_safe},
                               #{grid.action_names.to_s.html_safe},
                               #{grid.behavior_configs.to_json.html_safe},
                               #{grid.options.to_json.html_safe});
                               
/ - if grid.action_names.include?('add') or grid.action_names.include?('edit')
/   / Create form, try to first use the overidden form, otherwise render the default form
/   - begin
/     = render 'grid_form', :grid => grid
/   - rescue ActionView::MissingTemplate
/     = render '/grid_form', :grid => grid
