.grid_container{:id => "grid_#{grid.name}", :name => "#{grid.name}",:style => grid.style}
  - unless grid.hide_header?(current_user)
    :ruby
      toolbar_items = grid.toolbar_items
      toolbar_items.select! do |item|
        grid.class::SENSITIVE_ACTIONS.exclude?(item.options[:name].to_s) || grid.screen.authorize_create?(current_user)
      end
    .grid-header
      %h2= grid.title
      - grid.header_actions.each do |a|
        = render("/action_partials/#{a[:name]}", :grid => grid) #rescue nil
      %span.tb_prev.hidden
      .toolbar-wrapper
        .toolbar(data-grid="#{@grid_name}")
          %ul
            - toolbar_items.each do |item|
              %li.toolbar_item
                =link_to 'javascript:void(0);', item.anchor_tag_options do
                  %span= item.title
      %span.tb_next.hidden
  .grid
  .pager

:javascript
  // create grid
  gridManager.createNewGrid('#{grid.name.to_s.html_safe}',
                            '#{grid.model.to_s.html_safe}',
                            '#{grid.params["screen"].to_s.html_safe}',
                            '#{grid.path_for_json(request.query_parameters).to_s.html_safe}',
                             #{grid.params["filters"].to_json.html_safe},
                             #{grid.javascript_column_model(params[:screen]).html_safe},
                             #{grid.states_for_user(current_user).html_safe},
                             #{grid.action_configs(current_user).to_json.html_safe},
                             #{grid.behavior_configs(current_user).to_json.html_safe},
                             #{grid.options(current_user).to_json.html_safe});

  // Initial adjusting toolbar
  WulinMaster.dynamicToolbar.reset('#{grid.name}', true);