%nav
  .nav-wrapper
    %a#menu-toggle.left{href: '#'}
      %i.material-icons menu
    %a.brand-logo{:href => root_path}
      = WulinMaster.config.app_title
    %ul.right
      - WulinMaster::AppBarMenu.orderd_menus.each do |main_menu|
        %li
          = link_to main_menu.url, id: main_menu.id, class: main_menu.class_name, data: main_menu.data_option do
            %i.material-icons= main_menu.icon
            %span= main_menu.label
          - if main_menu.sub_menus?
            %ul.dropdown-content.collection{id: "#{main_menu.id}-list"}
              - if main_menu.menus.present?
                %li
                  - main_menu.menus.each do |sub_menu|
                    %li
                      = link_to sub_menu[:url] do
                        %i.material-icons
                          = sub_menu[:icon].presence || 'help'
                        = sub_menu[:label]