%nav
  .nav-wrapper
    %a#menu-toggle.left{href: '#'}
      %i.material-icons menu
    %a.brand-logo{:href => root_path}
      = WulinMaster.config.app_title
    %ul.right
      - WulinMaster::AppBarMenu.orderd_menus.each do |main_menu|
        %li
          - case main_menu.to_s
          - when 'HelpMenu'
            = link_to wulin_wiki_show_path, remote: true, id: 'help-btn', class: 'btn' do
              %i.material-icons= main_menu.icon
          - when 'ActivityMenu'
            %a#activity-btn.dropdown-trigger.btn.disabled{'data-target' => 'activity-list', href: '#'}
              %i.material-icons= main_menu.icon
            %ul#activity-list.dropdown-content.collection
          - when 'UserMenu'
            %a.dropdown-trigger{'data-target' => 'userMenu'}
              %i.material-icons= main_menu.icon
              %span= main_menu.label
            %ul#userMenu.dropdown-content.collection
              %li
                - main_menu.menus.each do |sub_menu|
                  %li
                    = link_to "#{sub_menu[:url] || 'javascript:void(0);'}" do
                      %i.material-icons
                        = sub_menu[:icon].presence || 'help'
                      = sub_menu[:label]