%nav
  .nav-wrapper
    %a#menu-toggle.left{href: '#'}
      %i.material-icons menu
    %a.brand-logo{:href => root_path}
      = WulinMaster.config.app_title
    %ul.right
      %li
        = link_to "#" do
          %i.material-icons help
      %li
        %a#notification-btn.dropdown-button.btn{'data-activates' => 'notification-list', href: '#'}
          %i.material-icons notifications
        %ul#notification-list.dropdown-content.collection
          %li.collection-item
            %i.material-icons.left.red-text error
            Error updating location
            .right 11:30 
          %li.collection-item
            %i.material-icons.left.green-text done
            Location successfully created
            .right 11:15
          %li.collection-item
            %i.material-icons.left error_outline
            Location screen loaded
            .right 11:00

      %li
        - if defined?(WulinOAuth) && User.current_user
          = link_to "#{WulinOAuth.configuration['logout_uri']}?redirect_uri=#{logout_url}" do
            %i.material-icons account_circle
            %span= User.current_user.email
        - elsif defined?(WulinAuth) && current_user
          = link_to logout_path do
            %i.material-icons account_circle
            %span= current_user.email

:javascript

  $(function(){

    $('#notification-btn').dropdown({
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      belowOrigin: true, // Displays dropdown below the button
    });

    $('#notification-btn').on('click', function() {
      $.each(window.messages, function( index, value ) {
        $('<li class="notification-item">' + value + '</li>').appendTo($('#message-list'));
      });
    });

  });
