#navigation
  #app_title.ui-helper-clearfix
    - begin
      = render file: File.join(Rails.root, 'app', 'views', 'wulin_master', '_app_title')
    - rescue ActionView::MissingTemplate
      = render '/app_title'
  #menu{style: "top: #{WulinMaster.config.app_title_height}"}
    %ul
      - controller.menu.each do |menu_entry|
        - if menu_entry.is_submenu?
          %li.submenu
            %a{:href => "#"}
              %span.indicator
              = menu_entry.title
            %ul
              - menu_entry.each do |submenu_entry|
                %li.item{:style => submenu_entry.is_hidden? ? "display:none" : ""}= link_to submenu_entry.title, submenu_entry.path
        - else
          %li.item= link_to menu_entry.title, menu_entry.path
  
  - if defined?(WulinOAuth) and User.current_user
    #user_nav
      #user_email 
        User: 
        %span.email= User.current_user.email
      #user_action
        = link_to 'Change Password', 'javascript: void(0)', class: 'left btn action', id: 'change_password_btn'
        = link_to 'Logout', "#{WulinOAuth.configuration['logout_uri']}?redirect_uri=#{logout_url}", class: 'btn action'
        
      #change_password_dialog.create_form(title="Change password" style="display: none;")

  
  #activity
    %h2 Activity
    #indicators
      
:javascript
  $(function(){
    $('#change_password_btn').on('click', function(){
      $('#change_password_dialog').dialog({
        autoOpen: true,
        width: 540,
        height: 280,
        buttons: {
          Ok: function() {
            $(this).dialog( "destroy" );
          }
        },
        create: function() {
          $.get('#{wulin_master_change_password_path}', function(data) {
            $('#change_password_dialog').html(data);
          })
        },
        close: function() { 
          $(this).dialog("destroy");
        }
      })
    });
  })