#navigation
  #app_title.ui-helper-clearfix
    - begin
      = render file: File.join(Rails.root, 'app', 'views', 'wulin_master', '_app_title')
    - rescue ActionView::MissingTemplate
      = render '/app_title'
  #menu{style: "top: #{WulinMaster.config.app_title_height}"}
    %ul
      - controller.menu.each do |menu_entry|
        - if menu_entry.is_submenu?
          %li.submenu
            %a{:href => "#"}
              %span.indicator
              = menu_entry.title
            %ul
              - menu_entry.each do |submenu_entry|
                %li.item= link_to submenu_entry.title, submenu_entry.path
        - else
          %li.itme= link_to menu_entry.title, menu_entry.path
  
  - if defined?(WulinOAuth)
    #user_nav
      #user_email 
        User: 
        %span.email= User.current_user.email
      #user_action
        = link_to 'Change Password', '#', class: 'left btn action', id: 'change_password_btn'
        = link_to 'Logout', "#{WulinOAuth.configuration['logout_uri']}?redirect_uri=#{logout_url}", class: 'btn action'
        
      #change_password_dialog(title="Change password" style="display: none;")
        -#%iframe(frameborder='0' marginheight='0' height='500px' width='500px' src='#{WulinOAuth.configuration['change_password_uri']}' scrolling='no')

  
  #activity
    %h2 Activity
    #indicators
      
:javascript
  $(function(){
    $('#change_password_btn').on('click', function(){
      $('#change_password_dialog').append("<iframe frameborder='0' marginheight='0' id='change_password_iframe' name='change_password_iframe' height='500px' width='500px' src='#{WulinOAuth.configuration['change_password_uri']}' scrolling='no'></iframe>");
      
      $('#change_password_dialog').dialog({
        autoOpen: true,
        width: 540,
        height: 460,
        buttons: {
          Ok: function() {
            $(this).dialog( "destroy" );
          }
        },
        close: function() { 
          $(this).dialog("destroy");
        }
      })
    })
  })