= form_tag(wulin_master_change_password_path) do
  #notice(style="display:none;")
  .field{:name => "current_password"}
    %label{:for => "current_password"} Current password
    = password_field_tag 'current_password', nil, :style => 'width: 250px'
  .field{:name => "password"}
    %label{:for => "password"} New password
    = password_field_tag 'password', nil, :style => 'width: 250px'
  .field{:name => "password_confirmation"}
    %label{:for => "password_confirmation"} Password confirmation
    = password_field_tag 'password_confirmation', nil, :style => 'width: 250px'
  
  .submit
    %input.btn.success{:id => "change_password_submit", :name => "commit", :type => "submit", :value => " Change Password "}

:javascript
  $(function(){
    $('body').off('click', "#change_password_submit").on('click', "#change_password_submit", function(){
      $.post("#{wulin_master_change_password_path}", 
        {
          current_password: $("#current_password").val(),
          password: $("#password").val(),
          password_confirmation: $("#password_confirmation").val()
        },
        function(data) {
          if (data == "OK") {
            displayNewNotification("Change password success!");
            $('#change_password_dialog').dialog("destroy");
            return false;
          } else {
            $('form #notice').html(data).show();
            return false;
          }
        }
      );
      return false;
    });
  })
  
:css
  #notice {
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    background: #ffe78f;
    background: -moz-linear-gradient(bottom, #fff3c4, #ffe78f);
    background: -ms-linear-gradient(bottom, #fff3c4, #ffe78f);
    background: -o-linear-gradient(bottom, #fff3c4, #ffe78f);
    background: -webkit-linear-gradient(bottom, #fff3c4, #ffe78f);
    background: linear-gradient(bottom, #fff3c4, #ffe78f);
    -moz-box-shadow: 1px 2px 5px black;
    -webkit-box-shadow: 1px 2px 5px black;
    box-shadow: 1px 2px 5px black;
    font-size: 16px;
    text-align: center;
    color: #7f5401;
    text-shadow: white 0px 1px 1px;
    -webkit-font-smoothing: antialiased;
  }