- if xhr
  - components.each do |component|
    = render :partial => '/grid', :locals => {:grid => component} if component.is_grid?
    = render :partial => '/panel', :locals => {:panel => component} if component.is_panel?
    - break if component.respond_to?(:fill_window?) and component.fill_window?
- else
  = render '/header'
  = render '/menu'
  = render '/content'
