- if grid.action_names.include?('view')
  :ruby
    model_name = grid.model.model_name.singular
    columns = grid.columns.dup.delete_if {|x| x.name.to_s == 'id' }
    object = grid.model.find(params[:id])

  .view_form{:id => "#{grid.name}_form"}
    = form_for object do |form|
      - columns.each_with_index do |column, index|
        :ruby
          column_name = get_column_name(column)
          label = column.options[:form_label] || column.label
          value = column.value(object)
          value = value.join(",") if value.is_a?(Array)
        .field{:name => column_name}
          %label{:for => "#{model_name}_#{column_name}"}
            = label
          = form.text_field column_name, {:readonly => true, :style => 'width: 243px', :value => value}
